
      <div class="content-container">
        <div class="result">
          <% if @result[:score].positive? %>
            Congratulations! <%= @result[:solution].join %> is a valid English word.<br>
            Your have scored <%= @result[:score] %> points.
          <% elsif @result[:score] == -1 %>
            <%= @result[:solution].join %> does not seem to be a valid English word.
          <% else %>
            <%= @result[:solution].join %> cannot be built out of <%= @result[:letters].join(', ') %>.
          <% end %>
          <br>&nbsp;
        </div>
        <div class="result play-again">
          <%= link_to 'Play again', new_path, class: 'btn-play-again' %>
        </div>
      </div>
