
      <div class="content-container">
        <div class="self-centered result">
          <% if @result[:score].positive? %>
            <strong>Congratulations!</strong> <%= @result[:solution].join %> is a valid English word.<br>
            You have scored <strong><%= @result[:score] %></strong> points.
          <% elsif @result[:score] == -1 %>
            <%= @result[:solution].join %> does not seem to be a valid English word.
          <% else %>
            <%= @result[:solution].join %> cannot be built out of <%= @result[:letters].join(', ') %>.
          <% end %>
        </div>
        <div class="self-centered result play-again">
          <%= link_to 'Play again', new_path, class: 'btn-play-again' %>
        </div>
      </div>
