<!DOCTYPE html>
<html>
  <head>
    <title>Long Word Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <div class="title">
        <h1>Long Word Game</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
